*{
    margin: 0;
    padding: 0;
}
/*网页主体*/
body{
    min-width: 1280px;
    max-width: 1920px;
}
/*nav部分*/
.title{
    width:100%;
    height:56px;
}
/*左侧logo*/
.title-left{
    float: left;
    line-height: 56px;
    padding-left: 60px;
    font-size:25px;
}
.title-left>img{
    vertical-align: middle;
}
/*右侧navigation*/
.title-right{
    float: right;
    width: 50%;
    line-height: 56px;
}
.title-right>ul{
    list-style: none;
    width: 480px;
    display: inline-block;
}
.title-right>ul>li{
    display: inline-block;
    padding:0 15px;
}
/*最右侧login部分*/
.title-right>ul a{
    text-decoration: none;
    color: #8e9197;
}
.title-right>div{
    float: right;
    display: inline-block;
    margin:0 50px 0 0;
}
.title-right>div>a{
    text-decoration: none;
    color: #F44336;
    font-weight: bold;
    font-size: 18px;
}
/*enter图片部分*/
.enter-picture{
    width: 100%;
    height:688px;
    background: url("img/firstPart.jpg") no-repeat ;
    background-size: 100% auto;
    position: relative;
}
.enter-box{
    position: absolute;
    top: 25%;
    left: 15%;
    color: #FFFFFF;
    width: 30%;
    height: 40%;
}
/*enter的text部分*/
.enter-box span:first-child{
    font-size:45px;
    line-height: 65px;
}
.enter-box span:nth-child(3){
    line-height: 25px;
}
/*enter的button部分*/
.enter-box .button{
    display: table;
    background: #F44336;
    width: 60%;
    height: 20%;
    margin-top: 10%;
}
.enter-box>span>a{
    display: table-cell;
    line-height: 100%;
    color: inherit;
    font-size: 25px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}
/*enter下方条形bar部分*/
.bar{
    width: 100%;
    height: 200px;
    font-size: 0;

}
/*bar中四个box*/
.bar-box{
    display: inline-block;
    width: 25%;
    height: 200px;
    font-size: 15px;
    vertical-align:top;
    text-align: center;
}
.bar-box>img{
    margin: 9% 0;
}
.bar-box>span{
    display: block;
    color: #5e5e5e;
    width: 100%;
    border-right: 1px solid #5e5e5e;
}
/*bar-book，带书的bar*/
.bar-book{
    width: 100%;
    height: 340px;
    text-align: center;
    background: #ededec;
}
.bar-book>img{
    margin: 45px 0 25px;
}
.bar-book>p{
    margin:0 auto;
    font-size:35px;
    color: #444444;
}
/*第一个form*/
.form-one{
    width: 100%;
    height: 340px;
    background: url("img/bgimage-1.jpg") no-repeat;
    background-size: cover;
    overflow: hidden
}
.form-one>div{
    margin: 65px auto;
    width: 400px;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
}
.form-one span{
    font-size: 22px;

}
.form-one hr{
    width: 35px;
    background-color: #FFFFFF;
    margin: 10px auto 20px;
}
.fm-one-inner{
    width: 71%;
    margin:0 auto;

}
.fm-one-inner>select{
    width: 22.5%;
    height: 35px;
    color: #5e5e5e;
    margin-right: 20px;
    border:none;
}
.fm-one-inner>button {
    width: 22%;
    height: 35px;
    background: #75b86b;
    border: none;
}

.oli-picture{
    width:100%;
    height: 500px;
    overflow: hidden;
}
.oli-picture>div{
    width: 78%;
    margin:100px auto;
}
.oli-picture>div>dl>div{
    display: inline-block;
}
.oli-picture img{
    padding: 8px;
    border:1px #d9dde1 solid;
}