*{
    padding: 0;
    margin: 0;

}
.main-box{
    width: 1250px;
    margin: 0 auto;
    border: 1px solid #1D1815;

}
.bar-top{
    height: 32px;
    background: #f5f5f5;
}
.bar-top .bar-top-main{
    width: 1250px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 14px;
    color: #6C6C6C;
}
.bar-top .bar-top-left{
    display: inline-block;
    float: left;
}
.bar-top .bar-top-left li{
    display: inline-block;
    list-style: none;
    float: left;
}
.bar-top .bar-top-right{
    display: inline-block;
    float: right;
}
.bar-top .bar-top-right li{
    display: inline-block;
    list-style: none;
    float: left;
}
.bar-top .bar-top-left li{
    padding: 0 6px;
}
/*顶部bar的文字、图标设置等*/
.bar-top .bar-top-left li:first-child span:first-child{
    color: #1D1815;
}
.bar-top .bar-top-left li:first-child span:last-child{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url("img/xsj.png") no-repeat;
    vertical-align: middle;
    margin: 0 10px;
}
.bar-top .bar-top-left li:nth-child(2) span:nth-child(2){
    display: inline-block;
    width: 18px;
    height: 17px;
    vertical-align: middle;
    background: url("img/vip.png") no-repeat;
    background-size: 18px auto;
    margin: 0 10px;
}
.bar-top .bar-top-left li:nth-child(2) span:last-child{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url("img/xsj.png") no-repeat;
    vertical-align: middle;
    margin: 0 5px;
}
.bar-top .bar-top-left li:nth-child(3) span:last-child{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: url("img/xsj.png") no-repeat;
    vertical-align: middle;
    margin: 0 5px;
}
.bar-top .bar-top-left li:last-child a{
    text-decoration: none;
    color: #6C6C6C;
}
.bar-top .bar-top-left li:last-child a:hover{
    color: #F60;
}
